{% load sekizai_tags %}
{% load static %}

{% addtoblock 'js' %}
  {% if INCLUDE_JS_MASONRY %}<script src="{% static 'djangocms_masonry/bower_components/masonry/dist/masonry.pkgd.min.js' %}"></script>{% endif %}
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script>

    /* Modal carousel */
    $(document).ready($('a[data-slide-to]').on('click', function(){
      $('#carouselModalPictures{{ instance }}').carousel($(this).data('slide-to'));
    }));

    function initialize_masonry_{{instance.pk}}() {

      var grid = $('#plugin-{{ instance.pk }} .masonry-grid').masonry( {{options}} );

      {% if instance.expand_on_click == True %}
        grid.on( 'click', '.grid-item-{{instance.pk}}', function() {
          var className = 'djangocms-masonry-expanded-image-{{ instance.pk }}';
          var shouldExpand = true;
          if ($(this).hasClass(className)) {
            // If it is already expanded, just unexpand
            shouldExpand = false;
          }

          // unexpand all items
          $('.' + className).each(function () {
            $(this).attr('old-width', $(this).attr('width'));
            $(this).attr('old-height', $(this).attr('height'));
            $(this).removeClass(className);
          })

          // Expand $(this) if needed
          if (shouldExpand) {
            $( this ).addClass(className);
            $(this).attr('width', $(this).attr('old-width'));
            $(this).attr('height', $(this).attr('old-height'));
          }

          // trigger layout
          grid.masonry('layout');
        });
      {% endif %}
    }

    $(document).ready(function () {
      initialize_masonry_{{instance.pk}}();
    });
  </script>
{% endaddtoblock %}

{% addtoblock 'css' %}
  <style>
    #plugin-{{ instance.pk }} {
      margin: auto;
      margin-left: {{instance.get_margin_left}}%;
    }
    div.djangocms-masonry-expanded-image-{{ instance.pk }} {
      width: {{ instance.get_expanded_column_width|add:instance.horizontal_space }}% !important;
      height: {{ instance.get_expanded_height|add:instance.vertical_space_px }}px !important;
    }
    .gutter-sizer-{{instance.pk}} {
      width: {{ instance.horizontal_space }}%;
    }
    .grid-sizer-{{instance.pk}},
    .grid-item-{{instance.pk}} {
      width: {{ instance.column_size }}%;
      height: {{ instance.row_size_px }}px;
      margin-bottom: {{instance.vertical_space_px}}px;
    }
    div.grid-item-{{instance.pk}}>img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 448px) {
        .masonry-plugin{
          margin-left: 0px !important;
        }
        .masonry-grid,.masonry-grid>div,.masonry-grid>div.grid-item{
          height: auto !important;
          width: 100% !important;
          height: auto !important;
          margin-bottom: 20px !important;
          top: 0px !important;
          position: relative !important;
          left: 0px !important;
        }
        .masonry-grid>div>img{
          height: auto !important;
        }
    }
  </style>
{% endaddtoblock %}

{% block plugin %}{% endblock plugin %}
