{% extends 'djangocms_masonry/base.html' %}
{% load cms_tags %}

{% block plugin %}

  <div class="card-columns">
    {% for plugin in instance.child_plugin_instances %}
      <div class="card">
        <a href="#" data-toggle="modal" data-target="#modalPictures{{ instance }}" data-slide-to="{{ forloop.counter0 }}">
          {% render_plugin plugin %}
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="modal fade carousel-pictures" id="modalPictures{{ instance }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="carouselModalPictures{{ instance }}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for plugin in instance.child_plugin_instances %}
                <div class="carousel-item {% if forloop.counter == 1%}active{% endif %}">
                  {% render_plugin plugin %}
                </div>
              {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carouselModalPictures{{ instance }}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselModalPictures{{ instance }}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock plugin %}
